In [39]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [50]:
bank_data = pd.read_csv("E:/Ravi_ExcelR_Assignments/Logistic_Regression/bank-full.csv",sep=";")
bank_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [51]:
#checking all null values
bank_data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [52]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [53]:
#dropping unwanted column
bank_data.drop(bank_data.columns[[0, 3, 5, 8, 9, 10, 11, 12, 13, 14]],axis = 1, inplace = True)
bank_data

                job   marital default housing loan poutcome    y
0        management   married      no     yes   no  unknown   no
1        technician    single      no     yes   no  unknown   no
2      entrepreneur   married      no     yes  yes  unknown   no
3       blue-collar   married      no     yes   no  unknown   no
4           unknown    single      no      no   no  unknown   no
...             ...       ...     ...     ...  ...      ...  ...
45206    technician   married      no      no   no  unknown  yes
45207       retired  divorced      no      no   no  unknown  yes
45208       retired   married      no      no   no  success  yes
45209   blue-collar   married      no      no   no  unknown   no
45210  entrepreneur   married      no      no   no    other   no

[45211 rows x 7 columns]

In [54]:
#filling categorical variable with dummy values
bank_data=pd.get_dummies(bank_data,columns=['job','marital','default','housing','loan','poutcome']) 
bank_data

,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,default_no,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,no,0,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
1,no,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
2,no,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
3,no,0,1,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
4,no,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,yes,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45207,yes,0,0,0,0,0,1,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45208,yes,0,0,0,0,0,1,0,0,0,...,1,0,1,0,1,0,0,0,1,0
45209,no,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45210,no,0,0,1,0,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0

In [55]:
X=bank_data.iloc[:,1:]

In [56]:
X

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,default_no,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,1,0,0,1,1,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,1,0,0,0,0,1
45207,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45208,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
45209,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45210,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0

In [57]:
Y=bank_data.iloc[0:,0]

In [58]:
Y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [70]:
claassifier=LogisticRegression()

In [71]:
classifier.fit(X,Y)

LogisticRegression()

In [72]:
classifier.coef_

array([[ 4.62120938e-02, -2.79577414e-01, -1.83610077e-01,
        -3.67994133e-01,  1.05385389e-01,  5.66572472e-01,
        -3.68394370e-02, -1.61991012e-01,  5.08053585e-01,
        -8.24511785e-02,  1.63298097e-01, -2.75161997e-01,
        -4.89301978e-04, -1.82993315e-01,  1.85379006e-01,
         1.67916777e-01, -1.66020388e-01,  3.55506590e-01,
        -3.53610200e-01,  2.39431165e-01, -2.37534776e-01,
        -5.03897552e-01, -2.49522619e-01,  1.72074455e+00,
        -9.65427993e-01]])

In [73]:
classifier.predict_proba(X)

array([[0.93224521, 0.06775479],
       [0.91991296, 0.08008704],
       [0.96731671, 0.03268329],
       ...,
       [0.22534666, 0.77465334],
       [0.90867366, 0.09132634],
       [0.81542808, 0.18457192]])

In [74]:
Y_pred=classifier.predict(X)

In [75]:
bank_data["Y_pred"]=Y_pred
bank_data

,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,Y_pred
0,no,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,no
1,no,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,no
2,no,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,no
3,no,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,no
4,no,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,yes,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,no
45207,yes,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,1,no
45208,yes,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,yes
45209,no,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,no
45210,no,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,no

In [66]:
#till now we came to know that the data points belongs to which category i.e,either 0 or 1

In [67]:
#now lets merge with probability values

In [77]:
Y_prob=pd.DataFrame(classifier.predict_proba(X.iloc[:,:]))

In [78]:
new_df=pd.concat([bank_data,Y_prob],axis=1) 
new_df

,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,Y_pred,0,1
0,no,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,1,no,0.932245,0.067755
1,no,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,no,0.919913,0.080087
2,no,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,1,no,0.967317,0.032683
3,no,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,no,0.952874,0.047126
4,no,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,no,0.872668,0.127332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,yes,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,no,0.890944,0.109056
45207,yes,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,no,0.780553,0.219447
45208,yes,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,yes,0.225347,0.774653
45209,no,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,no,0.908674,0.091326
45210,no,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,no,0.815428,0.184572

In [79]:
from sklearn.metrics import confusion_matrix

In [80]:
confusion_matrix=confusion_matrix(Y,Y_pred)
confusion_matrix

array([[39488,   434],
       [ 4404,   885]], dtype=int64)

In [81]:
pd.crosstab(Y_pred,Y)

y         no   yes
row_0
no     39488  4404
yes      434   885

In [84]:
accuracy=sum(Y==Y_pred)/bank_data.shape[0] 
accuracy

0.8929906438698547